.container {
	display: flex;
	flex-direction: row;
}
.content {
	flex: 1;
}
.image {
	border: solid 2px rgba(226,232,240,.1);
	border-radius: 0.25rem;
	height: auto;
	margin-left: -5px;
	max-width: 100%;
	transition-duration: .15s;
}
.link_icon {
	filter: invert(100%);
	margin-right: 0.25rem;
}
.link_item {
	align-items: center;
	color: rgb(203 213 225);
	display: inline-flex;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
}
.link_item > a {
	color: rgb(203 213 225);
}
.link_item > a:hover {
	color: rgb(94 234 212);
}
.link_list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0;
}
.side {
	color: rgb(100 116 139);
	flex: 0.3;
	font-size: .75rem;
	font-weight: 600;
	letter-spacing: .025em;
	line-height: 1rem;
	margin-bottom: 0.5rem;
	margin-top: 0.25rem;
	text-transform: uppercase;
}
.subtitle {
	color: rgb(100 116 139/var(--tw-text-opacity));
	font-weight: 500;
	line-height: 1.375;
	--tw-text-opacity: 1;
}
.tag_item {
	align-items: center;
	background-color: rgba(45,212,191,.1);
	border-radius: 9999px;
	color: rgb(94 234 212);
	display: flex;
	font-size: .75rem;
	font-weight: 500;
	line-height: 1.25rem;
	margin-right: 0.375rem;
	margin-top: 0.5rem;
	padding: 0.25rem 0.75rem;
}
.tag_list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	margin-top: 0.5rem;
	padding: 0;
}
.text {
	color: rgb(148 163 184/var(--tw-text-opacity));
	font-size: .875rem;
	line-height: 1.5;
	margin-top: 0.5rem;
	--tw-text-opacity: 1;
}
.title {
	align-items: baseline;
	color: rgb(226 232 240/var(--tw-text-opacity));
	display: inline-flex;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25;
	line-height: 1.5rem;
	--tw-text-opacity: 1;
}
.title img {
	filter: invert(100%);
	margin-bottom: -2px;
	margin-left: 5px;
}
.wrapper {
	border-radius: 0.375rem;
	cursor: pointer;
	margin-bottom: 1rem;
	padding: 1.5rem;
	transition-duration: .15s;
}
.wrapper:hover {
	background-color: rgba(30,41,59,.5);
	box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	--tw-drop-shadow: drop-shadow(0 10px 8px rgba(0,0,0,.04)) drop-shadow(0 4px 3px rgba(0,0,0,.1));
	--tw-shadow: inset 0 1px 0 0 rgba(148,163,184,.1);
	--tw-shadow-colored: inset 0 1px 0 0 var(--tw-shadow-color);
}
.wrapper:hover h3 {
	color: rgb(94 234 212/var(--tw-text-opacity));
	--tw-text-opacity: 1;
}
.wrapper:hover img {
	border-color: rgba(226,232,240,.3);
}