.about {
	padding: 1.5rem;
}
.about > p {
	color: rgb(148 163 184/var(--tw-text-opacity));
	line-height: 1.625;
	margin-bottom: 1rem;
	--tw-text-opacity: 1;
}
.col {
	width: 55%;
}
.col_fixed {
	height: calc(100vh - 5rem);
	position: sticky;
	top: 5rem;
	width: 45%;
}
.main {
	margin: 0 auto;
	max-width: 1280px;
	min-height: 100vh;
	position: relative;
}
.wrap {
	display: flex;
	flex-direction: row;
	padding: 0rem 6rem;
	position: absolute;
}
@media (max-width: 768px) {
 .col, .col_fixed {
 	height: auto;
 	position: relative;
 	top: 0rem;
 	width: 100%;
 }
 .wrap {
 	flex-direction: column;
 	padding: 2rem 1rem;
 }
}